.app {
  text-align: center;
  font-family:'Courier New', monospace;
}

.app-header {
  position: fixed;
  width: 100%;
  background-color: #1DA1F2;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.trending-list.content {
  max-width: 1110px;
  margin: auto;
}

footer {
  position:fixed;
  bottom: 0;
  width: 100%;
  height: 1 rem;
  background: #E1E8ED;
  color: #345;
  text-align: center;
}